docs
.eslintcache
*.csv
update-ci.json
.progress
mini
__tests__/cases
node_modules
dump
*.tgz
*.swp
test/gen
!test/*.js
!grammar.d.ts
!test-sequencer.js
.nyc_output
.env

.DS_Store

temp
etc
test/run.yaml
dist
