[submodule "abbreviations"]
	path = abbreviations
	url = https://github.com/citation-style-language/abbreviations.git
[submodule "abbrv.jabref.org"]
	path = abbrv.jabref.org
	url = https://github.com/JabRef/abbrv.jabref.org.git
