[submodule "abbreviations"]
	path = submodules/abbreviations
	url = https://github.com/citation-style-language/abbreviations.git
	branch = master
[submodule "abbrv.jabref.org"]
	path = submodules/abbrv.jabref.org
	url = https://github.com/JabRef/abbrv.jabref.org.git
	branch = main
[submodule "biber"]
	path = submodules/biber
	url = https://github.com/plk/biber.git
	branch = dev
